# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
grids-last/
src-quest/
src.zip
High Pass.jpg
Контент для стр 2.jpg
Услуги по ретуши (переключатель).jpg

# Папка с собранными файлами проекта
build/
dev/