$main-black-color: #202020;


.footer {
  background-color: $main-black-color;

  &__credentials {
    margin-right: 165px;

    @media screen and (max-width: 1784px) {
      margin-right: 0;
    }
  }
  
  // &__logo {
  //   margin-bottom: 7px;

  //   @media screen and (max-width: 1024px) {
  //     height: 26px;
  //     width: 166px;
  //   }
  // }
  
  &__logo-info {
    margin-right: 258px;
    padding-top: 36px;
    
    color: #E9E9E9;
    font-size: 14px;
    line-height: 18px;

    background-image: url('../img/Logo.png');
    background-position: 0 0;
    background-size: 80%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1784px) {
      margin-right: 0;
    }

    @media screen and (max-width: 1024px) {
      width: 253px;
      margin-right: auto;
      padding-top: 36px;
      
      background-image: url('../img/Logo1.png');
      background-position: 0 15%;
      background-size: 66%;
    }

    @media screen and (max-width: 768px) {
      background-position: 0 7%;
    }

    @media screen and (max-width: 630px) {
      grid-area: logo;
      width: 100%;
      height: 100%;
      padding: 35px 0 12px 23px;

      font-size: 10px;
      line-height: 13px;

      background-position: 5% 20%;
      background-size: 25%;
      background-color: #4A4A4A;
    }

    @media screen and (max-width: 320px) {
      padding: 37px 75px 12px;

      background-position: 50.5% 35.5%;
      background-size: 35% 30.5%;
      background-color: #4A4A4A;
    }

  }
  
  &__quote {
    margin-right: auto;
    padding-top: 6px;

    @media screen and (max-width: 1784px) {
      margin-right: 0;
    }

    @media screen and (max-width: 1024px) {
      margin-right: auto;
    }

    @media screen and (max-width: 972px) {
      display: none;
    }
  }
  
  &__quote-text {
    font-family: "Roboto";
    color: #999999;
  }
  
  &__quote-cr {
    font-family: "Roboto";
    color: #666666;
  }
  
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 630px) {
      padding-top: 3px;
      grid-area: social;
    }
  }
  
  &__social-text {
    margin-bottom: 9px;
    color: #CACACA;
    font-family: "Roboto";

    @media screen and (max-width: 1024px) {
      padding-top: 2px;
      margin-bottom: 7px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 0;
      margin-bottom: 7px;
    }

    @media screen and (max-width: 630px) {
      margin-bottom: 7px;
      margin-left: -2px;
      
    }
  }
  
  &__social-list {
    margin-left: 2px;
    width: 132px;

    @media screen and (max-width: 630px) {
      margin-left: 0;
    }
  }
  
}

